#nav-bar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  padding: 0px 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  margin-left: 10px;
  line-height: 80px;
}

#nav-bar .compose {
  float: right;
  height: 60px;
  width: auto;
  margin-top: 10px;
  font-size: 150%;
  color: #00a087;
  background-color: #e8fdff;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
}

#nav-bar .compose:hover {
  opacity: 1.0;
  background-color: white;
  color: black;
}