/*Main Container with compose tweets - the user*/

.new-tweet {
  background-color: #ECECEC;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px;
  margin: 0em 2em;
}

section h2 {
  border-bottom: 1px solid grey;
  margin-top: 0px;
}

section textarea {
  width: 100%;
  padding: 5px;
}

.counter {
  float: right;
  margin-top: 5px;
  font-size: 80%;
  font-style: italic;
}

/*Tweet Containers following main container*/

#tweets-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 0em 2em;
}

.tweet {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 0.80;

}

.tweet:hover {
  border: 1px solid grey;
  opacity: 1.0;
}

.profile-header {
  background-color: #ECECEC;
  float: left;
  width: 100%;
  height: 70px;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}

.profile-pic {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.profile-name {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 150%;
}

.profile-handle {
  float: right;
  font-size: 80%;
}

.tweet-body {
  padding: 5px;
  word-wrap: break-word;
}

.tweet-footer {
  border-top: 1px solid lightgrey;
  color: grey;
  font-size: 80%;
  padding-left: 10px;
}
